* {
  box-sizing: border-box;
  
}

/* HEADER STYLING******************************************************************************************/

header {
  grid-area: header;
  grid-template-columns: 1fr 1.5fr .2fr .5fr;
  background-color: #1d7eed;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headerIcon {
  width: 50px;
  height: 50px;
  margin: 5px 0;
  transition: all .3s ease-in-out;
}

.headerIcon:hover {
  transform: scale(1.5);
}

.notificationDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #edd51d;
  padding: 0;
  margin: 0 0 25px 0;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid darkgrey;
  margin-left: 15px;
}

.userName {
  margin: 0;
  font-size: 1.2em;
}
/* IMAGE STYLING*******************************************************************************************/

.profile,
.profilePic {
  border: 3px solid darkgray;
}

.profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.navIcon {
  width: 30px;
  margin: 0;
}

/*ELEMENT STYLING***************************************************************************************/
html,
body {
  height: 100%;
  width: 100%;
  font-family:'Noto Sans', sans-serif, 'Times New Roman';
  color: black;
  
}
/*YourApp*/
h1 {
  margin-top: 5px;
  padding:5px;
  font-size: 2em;
  color:black;
  text-align: center;
  font-weight: 200;
}

h2 {
  font-size: 1.75em;
  margin: 1.75em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25em;
  margin: 1em;
  text-transform: uppercase;
}

h2,
h3 {
  
  color: black;
}

h4 {
  font-size: 1em;
  margin: .5em;
  text-transform: capitalize;
  color: black;
}

p,
img {
  margin: 0 1.2em;
}

div {
  padding: 5px;
}

p {
  font-size: 1.2em;
  line-height: 1.3em;
}
/*NAV STYLING********************************************************************************************/
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  background-color: #541ded;
  
}

/*INPUT STYLING********************************************************************************************/

input {
  padding: 1.2em;
  border: 2px solid darkgray;
  border-radius: 45px;
}

input:focus {
  box-shadow: 3px 3px 5px 3px lightgreen;
  outline: none;
}

textarea:focus {
  box-shadow: 2px 2px 2px 2px lightgreen;
  outline: none;
}


/*GRID STYLING********************************************************************************************/
.appContainer {
  max-width: 100vw;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

/*MAIN CONTENT STYLING********************************************************************************************/

main {
  grid-area: main;
  background-color: gray;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "dashboard"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
}

.dashboard {
  grid-area: dashboard;
  background-color: white;
  text-align: center;
  border: 2px solid black;
}

.searchBar{
  display: flex;
  align-items: center;
  background-color: darkgray;
  margin: 25px;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 35px;
}

.dashboard-search {
  width: 100%;
  height: 3.5em;
  margin: 12px 0;
 border-radius: 25px;
}
::placeholder {
  color: silver;
  opacity: 1;
}
.alertContainer {
  margin: 5px;
  padding: 5px;
}

.alert {
  margin: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #1ded8c;
  color: black;
  border-radius: 25px;
}

.alertX {
  background-color: inherit;
  color: inherit;
  font-size: 1.8em;
}

.widget {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
}


/*TRAFFIC GRAPH********************************************************************************************/

.traffic {
  grid-area: traffic;
  display: flex;
  flex-direction: column;
}

.time-interval {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hourly {
  background-color: #1d7eed;
  border-radius: 35px;
}

.hourly h4 {
  padding-right: 5px;
  color: black;
}

/*BAR GRAPH********************************************************************************************/
.daily-traffic {
  grid-area: daily-traffic;
}

/*PIE GRAPH********************************************************************************************/
.mobile-users {
  grid-area: mobile-users;
}

/*SOCIAL STATS********************************************************************************************/
.social-stats {
  grid-area: social-stats;
}

.socialCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: .5em;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 45px;
  max-width: 60vw;
}

.twitterIcon,
.facebookIcon,
.googleIcon {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 65px;
  height: 65px;
  margin-left: 10px;
  background-color: darkblue;
  border-radius: 100%;
}

.socialResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.soc-icon {
  width: 40px;
  height: 40px;
}

.socialResults h3 {
  text-align: center;
  font-size: 1em;
  color: #7477bf;
}

.socialResults p {
  text-align: center;
  font-size: 2em;
  color: black;
}

/*NEW MEMBERS********************************************************************************************/

.newMembers {
  grid-area: new-members;
  display: flex;
  flex-direction: column;
}

.memberCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profilePic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.memberInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1px;
}

.memberInfo h4 {
  margin: 2px;
  padding: 1px;
  text-align: left;
  font-size: 1em;
  color: #636363;
}

.memberInfo p {
  margin: 0;
  padding: 1px;
  text-align: left;
  font-size: 1.2em;
  color: darkcyan;
}

.joinDate {
  margin: 2px;
  padding: 1px;
  font-size: 1em;
  color: #636363;
}

.new-members hr {
  width: 95%;
  border-top: 2px solid darkblue;
  
}

/*RECENT ACTIVITY********************************************************************************************/

.recentActivity {
  grid-area: recent-activity;
  display: flex;
  flex-direction: column;
}

.activityCard {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.activityInfo {
  display: flex;
  justify-content: space-between;
  
}

.postTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.activityInfo p {
  margin: 2px;
  padding: 1px;
  text-align: left;
  font-size: 1em;
  color: #636363;
}

.activityInfo p.time {
  margin: 5px;
  padding: 2px;
  font-size: 1em;
  color: #7477bf;
  text-align: left;
}

.recentActivity hr {
  width: 95%;
  border-top: 2px solid darkblue;
 
}

.rightAngle {
  font-size: 2.5em;
  color: #eda11d;
}

/*MESSAGE USER********************************************************************************************/

.message-user {
  grid-area: message-user;
}

.user-fields,
.message-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.user-search,
.user-message {
  width: 100%;
  margin: 15px;
  padding: 1.2em;
  background-color: white;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 35px;
}

.user-message {
  outline: none;
  height: 7em;
}

.message-user-send {
  width: 100%;
  margin: 10px;
  padding: 1em 10px;
  font-size: 1em;
  background-color: #1d7eed;
  color:black;
  border: none;
  border-radius: 35px;
}

/* SETTINGS AREA*****************************************************************************************/

.settings {
  grid-area: settings;
}

.toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.toggles h3 {
  margin: 0;
}

.timezones {
  width: 100%;
  margin: 15px;
  padding: 5px;
  font-size: 1em;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 35px;
  height: auto;
  outline: none;
}

option {
  font-size: 1.2em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

.settings-save,
.settings-cancel {
  width: 100%;
  padding: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 45px;
}

.settings-save {
  background-color: #1d7eed;
  margin-right: 15px;
}

.settings-cancel {
  background-color: lightgray;
  margin-left: 15px;
}

/*SLIDE BUTTONS********************************************************************************************/

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 45px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: #1ded8c;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1d7eed;
}

input:focus + .slider {
  box-shadow: 0 0 3px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider:after {
  font-size: 1.2em;
  content:'OFF';
  color: black;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 75%;
  
}

input:checked + .slider:after {
  content:'ON';
  left: 25%;
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}



/*MEDIA QUERIES********************************************************************************************/

@media (min-width: 768px) {
  h1{
    margin-top: -20px;
    padding-left: 10px;
  }
  
  .appContainer {
    grid-template-columns: auto minmax(344px, 944px) minmax(345px, 945px);
    grid-template-areas:
      "header header header"
      "nav main main";
  }
  h3 {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  .widget h3 {
    margin-left: 0;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .headerIcon {
    width: 40px;
    height: 40px;
  }
  .headerIcon:hover {
    width: 45px;
    height: 45px;
  }
  .notificationDot{
    margin: 0 0 40px 0;
  }
  .user {
    margin-right: 2em;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  nav div {
    padding: 30px;
  }
  .active {
    border-bottom: 3px solid #4d4c72;
    border-left: 3px solid #2ecc71;
  }
  main {
    grid-template-areas:
    "dashboard dashboard"
    "traffic traffic"
    "daily-traffic mobile-users"
    "social-stats social-stats"
    "new-members recent-activity"
    "message-user settings";
  }
  .dashboard {
    display: flex;
    flex-wrap: wrap;
  }
  .dashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .searchBar {
    justify-content: flex-end;
    align-items: center;
    border: 2px solid darkgray;
    margin: 0;
    padding: 5px 20px;
    width: 85%;
  }
  .dashboard-search {
    width: 80%;
  }
  .alertContainer {
    width: 100%;
  }
  .widget {
    padding: 10px 20px;
    text-align: left;

  }
  .traffic {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .socialCard {
    margin: 0 10px 10px 10px;
    padding: .5em 10px;
  }
  .twitterIcon,
  .facebookIcon,
  .googleIcon {
    width: 25px;
    height: 25px;
  }
  .soc-icon {
    width: 10px;
    height: 30px;
  }
  .socialResults h3 {
    font-size: .75em;
    margin: 0 0 .25em .7em;
  }
  .socialResults p {
    font-size: 1.5em;
    margin-left: .75em;
  }
  p,
  img,
  .activityInfo p,
  .activityInfo p.time,
  .rightAngle {
    margin: 0 .5em;
  }
  .memberInfo h4 {
    margin: 0 0 .25em 1em;
  }
  .memberInfo p {
    margin: 0 0 0 1em;
  }
 
  .user-fields {
    justify-content: space-between;
  }
  .user-fields,
  .message-fields,
  .buttons {
    padding: 0;
  }
  .user-fields,
  .message-fields {
    margin-right: 25px;
    margin-left: 25px;
  }
  .message-user button,
  .settings button,
  .buttons {
    margin-bottom: 0;
  }
}
/*MEDIA QUERIES********************************************************************************************/
@media (min-width: 1024px) {
  h1{
    margin-top: -20px;
    padding-left: 10px;
  }
  .socialCard {
    margin: 0 22px 22px 22px;
    padding: 1em 8px;
  }
  .twitterIcon,
  .facebookIcon,
  .googleIcon {
    width: 50px;
    height: 50px;
  }
  .soc-icon {
    width: 35px;
    height: 35px;
  }
  .socialResults h3 {
    margin: 0 1em 1em 1em;
    font-size: 1em;
  }
  .socialResults p {
    margin-left: 1em;
    font-size: 2.5em;
  }
  .memberCard {
    padding: 0;
    flex-grow: 1;
  }
  .memberInfo {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .memberinfo h4{
    margin: 0 0 0 1em;
  }
  .activityCard {
    flex-grow: 1;
  }
  .activityInfo {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .postTime {
    display: flex;
    flex-direction: column;
  }
}